.logo img {
width: 100px;
margin-right: 100px;

}

.menu ul li{ 
    display:inline;
    list style:none;
    margin-right: 55px;
    
    text-align: center;


}
.topMenu {
    display:flex;
    margin: 30px 150px
    
    
}

.popUp{
    background-color: rgb(46, 44, 44);
    padding: 10px;
    text-align: center;
    width: 100%;
    color: aliceblue;
}
.banner img{
    width: 100%;

}
.banner{
    position: relative;
    margin-bottom: 20px;

}
.bannerText{
    position: absolute;
    width: 500px;
    top: 250px;
    left: 100px;
    font-size: 40px;
    color: white;
    font-weight: 800px;

}
.menu-1 img {
    width: 250px;
}
.menu-1{
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 20px;
    margin:  50px;
    text-align: center;
    color: red;
}
.menu{
    display: flex;

}
button{
    padding: 10px;
    border: 1px solid black;
    background-color: red;
    border-radius: 15px;
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width:150px;
}